// eslint-disable-next-line import/no-anonymous-default-export
export default {
  title: 'Tailors DB',
  description: 'Store & Retrieve clients measurements online',
  canonical: 'https://tailorsdb.com',
  openGraph: {
    url: 'https://tailorsdb.com',
    title: 'tailorsdb',
    description: 'Store & Retrieve clients measurements online',
    images: [
      {
        url: 'https://res.cloudinary.com/dnc04r7sc/image/upload/v1662029265/tailors/icons/android-icon-96x96_cyfzn8.png',
        width: 96,
        height: 96,
        alt: 'tailors DB Alt',
        type: 'image/png',
      },
      {
        url: 'https://res.cloudinary.com/dnc04r7sc/image/upload/v1662029265/tailors/icons/android-icon-72x72_entdhl.png',
        width: 72,
        height: 72,
        alt: 'tailors DB Alt',
        type: 'image/png',
      },
      {
        url: 'https://res.cloudinary.com/dnc04r7sc/image/upload/v1662029265/tailors/icons/android-icon-48x48_hba82b.png',
        width: 48,
        height: 48,
        alt: 'tailors DB Alt',
        type: 'image/png',
      },
      {
        url: 'https://res.cloudinary.com/dnc04r7sc/image/upload/v1662029266/tailors/icons/android-icon-192x192_izliio.png',
        width: 192,
        height: 192,
        alt: 'tailors DB Alt',
        type: 'image/png',
      },
      {
        url: 'https://res.cloudinary.com/dnc04r7sc/image/upload/v1662029265/tailors/icons/android-icon-36x36_mvqhj4.png',
        width: 36,
        height: 36,
        alt: 'tailors DB Alt',
        type: 'image/png',
      },
      {
        url: 'https://res.cloudinary.com/dnc04r7sc/image/upload/v1662029266/tailors/icons/android-icon-144x144_rz0umn.png',
        width: 144,
        height: 144,
        alt: 'tailors DB Alt',
        type: 'image/png',
      },

    ],
    site_name: 'Tailors DB',
  },
  
};
